@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap");
body {
  margin: 0;
  padding: 10px;
  background-color: #161616;
  color: white;

  font-family: Lato, Roboto, "Open Sans", Arial, sans-serif;
}

.axis {
  stroke: #383737;
}

text {
  font-size: 16px;
}

.line,
.data-line,
.area-line {
  fill: none;
  stroke-width: 3;
}

.cases-line,
.cases-line-area-line {
  stroke: green;
}

.deaths-line {
  stroke: blue;
}

.area {
  fill: url(#temperature-gradient);
}

.cv19label {
  margin-left: 20px;
}
.cv19input {
  position: relative;
  appearance: none;
  outline: none;
  -webkit-appearance: none;
  width: 36px;
  height: 18px;
  border-radius: 18px;
  background-color: green;
  margin: 0 auto;
  margin-left: 5px;
}
.cv19input:before {
  content: "";
  position: absolute;
  width: 18px;
  height: 18px;
  border-radius: 18px;
  top: 0;
  left: 0;
  background-color: #fff;
  transform: scaleX(1.1);
  transition: 0.5s;
}
.cv19input:checked::before {
  left: 18px;
}
.cv19select {
  margin-left: 50px;
  padding: 5px;
  background-color: black;
  border: 2px solid transparent;
  color: white;
  box-shadow: 0 2px 30px rgba(255, 255, 255, 0.3);
  border-radius: 18px;
  font-family: Lato, Roboto, "Open Sans", Arial, sans-serif;
  outline: none;
}
.cv19select:focus {
  border: 2px solid green;
}

.summary-table {
  margin-left: 50px;
  margin-top: 25px;
  border-spacing: 0;
}

.summary-table_cell {
  text-align: left;
  text-transform: capitalize;
}

[data-title]:hover:after {
  opacity: 1;
  transition: all 0.1s ease 0.5s;
  visibility: visible;
}
[data-title]:after {
  content: attr(data-title);
  margin-left: 10px;
  margin-top: 10px;
  padding: 2px 4px;
  color: black;
  border-radius: 5px;
  background-color: lightgray;
  visibility: hidden;
  font-size: 12px;
}
[data-title] {
  position: relative;
}

.spinner {
  width: 80px;
  height: 80px;

  border: 2px solid #f3f3f3;
  border-top: 3px solid #f25a41;
  border-radius: 100%;

  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;

  animation: spin 1s infinite linear;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

#overlay {
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 1);
  position: fixed;
  left: 0;
  top: 0;
  z-index: 99;
}
